#page-container{
    width: 1000px;
    margin: 0 auto;
    height: 800px;
}
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, freesans, sans-serif;
}
#shape{
    width: 200px;
    height: 200px;
    background-color: red;
    display: none;
    position: relative;
}
.time{
    font-weight: bold;
}